html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
    background-color: #E2E2E8;
    color: #2F3131;
}

a:hover {
    color: #909090;
    text-decoration: none;
}

.main-nav, .nav-link {
    background-color: #2F3131;
    color: #F8F7E5;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F8F7E5;
}

.footer-text {
    color: #F8F7E5;
    margin: 0;
    padding: 0.5rem 1rem;
}

.btn {
    background-color: #2F3131;
    color:  #F8F7E5;
    font-weight: 600;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem #2F3131;
}

.btn:hover {
    background-color: #F8F7E5;
    color: #2F3131;
}

button:focus {
    outline: 5px auto #F8F7E5;
}

header, .featured-book-sm, .featured-book-lg {
    border: 5px solid #426E87;
    border-radius: 10px;
    background-color: #426E87;
    color: #F8F7E5;
}

.header-text {
    margin: 1rem 1rem;
    text-align: center;
}

.featured-book-sm, .quicks-sm {
    display: block;
    padding: 1rem 0.5rem;
}

.featured-book-lg, .quicks-lg {
    display: none;
}

.content, header {
    padding: 0.5rem 1.5rem;
    margin: 1rem 0.5rem;
}

.featured-header, .featured-body {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    color:  #F8F7E5;
}

.featured-title {
    padding: 2rem 0 0.5rem 0;
}

.search-header {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}

.search-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.btn-margin {
    margin-bottom: 1rem;
}

.side-bar-left {
    display: none;
}

#filter-expand {
    padding: .375rem 1.5rem;
    margin-top: 1rem;
}

.search-form {
    padding-top: 2rem;
}

.search-btn, .featured-btn {
    padding: 0.375rem 2rem;
}

.search-bar {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-search {
    border: 5px solid #426E87;
    border-radius: 10px;
}

.quick-search, .book-btn {
    padding: 0.375rem 1rem;
    margin: 0.375rem 0.375rem;
}

.book-btn:focus {
    box-shadow: none;
}

.error {
    color: red!important; 
}

.success {
    color: green!important;
}

.select-header {
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    background-color: #2F3131;
    color:  #F8F7E5;
}

.select-body {
    padding: 0.5rem 1rem;
    margin: 1rem 1.5rem;
    border: 5px solid #426E87;
    border-radius: 10px;
    background-color: #426E87;
}

.select-box {
    padding: 0.375rem 1rem;
    margin: 0.2rem 0;
    background-color: #B9C4C9;
    color: #2F3131;
}

.select-box:hover {
    background-color: #A9B4B9;
    color: #2F3131;
}

.show-more {
    color: #2F3131;
    margin: 0.25rem 0.25rem;
    font-weight: 600;
}

.show-more:hover {
    color: #F8F7E5;
}

.results-display {
    margin: auto;
    margin-top: 2rem;
}

.result, .review{
    width: 45%;
    margin: 0.5rem 0.5rem
}

.result-btn {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.result-img, .featured-img, .book-img {
    height: auto;
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 1rem;
}

.result-img, .book-img {
    width: 75%;
}

.result-text {
    text-align: center;
}

#review-expand {
    margin: 0;
    margin-bottom: 1rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #2F3131;
  text-align: center;
}

/* Chart Styles */

.dc-chart g.row text {
    fill: black;
}

.dc-chart text.pie-slice {
    fill: black;
}

.chart-title {
    margin-bottom: 1rem;
}

.charts {
    width: 100%;
}


@media screen and (max-width: 575px) {
    
    .featured-img {
        width: 75%
    }
    
    .result, .review {
        width: 75%;
        margin: 0.5rem 0.5rem
    }
   
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .book-img {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    
   .featured-book-lg {
        display: block;
        padding: 1rem 0.5rem;
    }
    
    .quicks-lg {
        display: block;
    }
    
    .featured-book-sm, .quicks-sm {
        display: none;
    }
    
    .side-bar-left {
        display: block;
        margin-left: 1.5rem
    }
    
    .search-bar {
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
    
    #filter-expand {
        display: none;
    }
    
    .book-img {
        width: 100%;
    }
    
    .result, .review {
        width: 30%;
        margin: 0.5rem 0.5rem
    }
    
}