{% extends "base.html" %}
{% block content %}

<header> 
    <h3 class="header-text">Edit Book</h3>
    <p class="header-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
    quis nostrud exerci tation ullamcorper suscipit lobortis nisl
    ut aliquip ex ea commodo consequat.</p>
</header>

<section class="content">
    <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input id="title" name="title" class="form-control" type="text" value="{{ book.title }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="author" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
                <input id="author" name="author" class="form-control" type="text" value="{{ book.author }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="genre" class="col-sm-2 col-form-label">Genre</label>
            <div class="col-sm-10">
                <input id="genre" name="genre" class="form-control" type="text" value="{{ book.genre }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="blurb" class="col-sm-2 col-form-label">Blurb</label>
            <div class="col-sm-10">
                <textarea id="blurb" name="blurb" class="form-control" rows="5" required>{{ book.blurb }}</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="publisher" class="col-sm-2 col-form-label">Publisher</label>
            <div class="col-sm-10">
                <input id="publisher" name="publisher" class="form-control" type="text" value="{{ book.publisher }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="ISBN" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
                <input id="ISBN" name="ISBN" class="form-control" type="text" value="{{ book.ISBN }}" required>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-margin">Edit Book</button>
        </div>
    </form>
</section>


{% endblock %}