{% extends "base.html" %}
{% block content %}

<header>
    <h3 class="header-text">Welcome to Books You'll Love</h3> 
    <p class="header-text">Here you can share your favourite books with friends or a new book
    with everyone. Search for a book in the library or have a look by genre
    and see what takes your fancy. Take a look at Featured Book you never 
    know what might come up. See what everyone is looking at with Most Viewed,
    maybe see what the hype is about?</p>
</header>

<section class="row content">
    <div class="col-lg-6 offset-lg-3 col-sm-12">
        <form class="search-form" action="{{ url_for('search_result') }}">
            <div class="form-group">
                <input class="form-control main-search" id="search_term" name="search_term" type="search" placeholder="Search Something?" required>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn search-btn" type="submit">Search</button>
            </div>
        </form>
    </div>
</section>



<section class="row content">
    <article class="col-lg-9 featured-book-lg">
        <div class="row">
            <div class="col-lg-5">
                <img class="featured-img" src="{{ url_for('static', filename='images/book_cover_coming.jpg') }}" alt="No Image Available"></img>
            </div>
            <div class="col-lg-7">
                <div class="featured-header">
                    <h4>Featured Book</h4>
                    <h5 class="featured-title">{{ featured.title }}</h5>
                    <h5> By {{ featured.author }}</h5>
                </div>
                <div class="featured-body">
                    <p>{{ featured.blurb }}</p>
                    <a href="{{ url_for('book_record', book_id=featured._id) }}">
                        <button class="btn featured-btn" >View Book</button>
                    </a>
                </div>
            </div>
        </div>
    </article>
    <div class="col-lg-3 col-sm-12 quicks-lg">
        <p class="search-header">Stuck on what to look for, try one of our</p>
        <p class="search-title">Quick Searches</p>
        
        <div id="quick-searches" class="row justify-content-center">
            {% for genre in genres %}
            <a href="{{ url_for('filter_by_genre', search_term=genre, filter_by=genre) }}">
                <button class="btn quick-search">{{ genre }}</button>
            </a>
            {% endfor %}
        </div>
        <div>
            <a href="#" class="show-searches show-more">More... </a>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 quicks-sm">
        <p class="search-header">Stuck on what to look for, try one of our</p>
        <p class="search-title">Quick Searches</p>
        
        <div id="quick-searches" class="row justify-content-center">
            {% for genre in genres %}
            <a href="{{ url_for('filter_by_genre', search_term=genre, filter_by=genre) }}">
                <button class="btn quick-search">{{ genre }}</button>
            </a>
            {% endfor %}
        </div>
        <div>
            <a href="#" class="show-searches show-more">More... </a>
        </div>
    </div>
    <article class="col-sm-12 featured-book-sm">
        <div class="row">
            <div class="col-sm-6">
                <img class="featured-img" src="{{ url_for('static', filename='images/book_cover_coming.jpg') }}" alt="No Image Available"></img>
            </div>
            <div class="col-sm-6">
                <div class="featured-header">
                    <h4>Featured Book</h4>
                    <h5 class="featured-title">{{ featured.title }}</h5>
                    <h5> By {{ featured.author }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 featured-body">
                <p>{{ featured.blurb }}</p>
                <a href="{{ url_for('book_record', book_id=featured._id) }}">
                    <button class="btn featured-btn" >View Book</button>
                </a>
            </div>
        </div>
    </article>
</section>

<section class="row content">
    <article class="col-md-12 col-lg-5">
        <h6 class="chart-title">Most Viewed By Genre</h6>
        <div id="pie_chart" class="charts"></div>
    </article>
    <article class="col-md-12 col-lg-7">
        <h6 class="chart-title">Most Viewed By Title</h6>
        <div id="row_chart" class="charts"></div>
    </article>
</section>
    
    

<script>

    var pie_chart = dc.pieChart("#pie_chart")
    var row_chart = dc.rowChart("#row_chart");
    
    
    var most_viewed = {{ most_viewed | tojson | safe }};
    
    var ndx = crossfilter(most_viewed),
        title = ndx.dimension(function(d) {return d.title;}),
        viewsGroup = title.group().reduceSum(function(d) {return +d.views;}),
        genre = ndx.dimension(function(d) {return d.genre;}),
        genreByCount = genre.group()
        
        
    pie_chart
        .height(400)
        .radius(160)
        .dimension(genre)
        .group(genreByCount)
        .ordinalColors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
   
    row_chart
        .height(400)
        .margins({top: 5, right: 5, bottom: 5, left: 5})
        .ordinalColors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
        .x(d3.scaleLinear().domain([6,20]))
        .xAxis(d3.axisTop())
        .elasticX(true)
        .dimension(title)
        .group(viewsGroup);
        
        
    row_chart.on('pretransition', function() {
        row_chart.select('g.axis').attr('transform', 'translate(0,0)');
        row_chart.selectAll('line.grid-line').attr('y2', row_chart.effectiveHeight());
    });
    
    dc.renderAll();
    
</script>
{% endblock %}